@import "tailwindcss";

:root {
  --background: #fbfaf7;
  --foreground: #22231f;

  --color-primary: #008148;
  --color-primary-dark: #00592f;
  --color-primary-light: #e0f2e8;

  --color-accent: #ce2b37;
  --color-accent-dark: #a01f29;
  --color-accent-light: #fbe6e7;

  --color-cream-dark: #f1ede4;
  --color-border: #e3ded3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);
  --color-accent: var(--color-accent);
  --color-accent-dark: var(--color-accent-dark);
  --color-accent-light: var(--color-accent-light);
  --color-cream-dark: var(--color-cream-dark);
  --color-border: var(--color-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
